* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins";
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 26, 58);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 241, 240);
  color: rgb(28, 26, 58);
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  min-height: 500px;
  visibility: hidden;
}

.location {
  margin-right: 10px;
  flex-shrink: 0;
}

.locationText,
.location {
  font-size: 28px;
  font-weight: bold;
}

.locationText {
  border: none;
  background: rgb(240, 241, 240);
  outline: none;
  font-size: 28px;
  font-weight: bold;
  width: 200px;
  margin: 0;
  flex-shrink: 1;
}

.header form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.location,
.search {
  min-width: 25px; /* Adjust the value as needed */
  flex-shrink: 0;
}

.search {
  font-size: 24px;
  border-radius: 5px;
  padding: 4px;
  background-color: rgb(240, 241, 240);
  border-width: 0;
  margin-left: auto;
}

.search:hover {
  cursor: pointer;
  background-color: rgb(210, 210, 210);
}

.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.time {
  font-weight: 500;
}

.weatherImage {
  width: 256px;
  min-height: 256px;
}

.temperature {
  font-size: 48px;
}

.weatherText {
  font-weight: 500;
  margin-bottom: 10px;
}

.degree {
  font-size: 0.4em;
  position: relative;
  top: -0.5em;
}

.conditionIcon {
  font-size: 90px;
  margin: 70px;
}

.humidityWind {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 14px;
}

.humidityIcon,
.windIcon {
  font-size: 40px;
  margin-right: 10px;
}

.humidityInfo,
.windInfo {
  display: flex;
  align-items: center;
}

.textHumidity,
.textWindSpeed {
  font-weight: bold;
  font-size: 1.2rem;
}
